
* { 
	box-sizing: content-box; }

body {
	font-family: "Helvetica", sans-serif; 
	font-size: 20px; 
	color: #008303; }

a, h1, h2, h3  { 
	color: #483D8B; }

form {
	margin:.1em auto; 
	padding:.1em; 
	width: 600px; 
	border: 1px; }

.heading {
	font-weight: bold; }

.nav {
	margin:1em auto; 
	padding:1em;
	width: 100%;
	background: #ffffcc; }

.error {
	color : #FF0000; }

.page {
	margin:.1em auto; 
	padding:.1em; 
	width: 768;  }

.entry {
	border: 1px solid #0a0;
	border-radius: 10px;
	padding: 1em; 
	margin: 0.5em; }

td { 
	padding: 0.5em; }

input[type=text] { 
	margin: .5em 0; 
	padding: .5em; 
	font-size: 12px; 
	color: #777; 
	width: 200px;}

input[type=textarea] {
	margin: .5em 0; 
	padding: .5em; 
	font-size: 12px; 
	color: #777; 
	width: 200px;}
